<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psu.rbt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".RssService" />
        <activity
            android:name="com.psu.rbt.ViewSplash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".CalculatePrice"
            android:label="คำนวณราคายาง"
            android:parentActivityName="com.psu.rbt.MainActivity"
            >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.psu.rbt.MainActivity" />
            
        </activity>
        <activity android:name=".ShowDetails"></activity>
        <activity 
            android:name=".ViewEmployeeData"
            android:label="ข้อมูลประจำตัวลูกจ้าง"></activity>
        <activity 
            android:name=".EditEmployee"
            android:label="เพิ่มข้อมูลลูกจ้าง"></activity>
        <activity 
            android:name=".ViewListSave"
            android:label="รายการที่บันทึก"></activity>
        <activity 
            android:name=".ViewCalculateData"
            android:label="ข้อมูลที่บันทึก"></activity>
        <activity android:name="com.psu.rbt.MainActivity"></activity>
        
    </application>

</manifest>
